
<!-- Start: Location Cards -->

<div class="container" ng-show="isPlaceSearched">
    <div class="container-fluid" ng-repeat="(key, value) in placesData" ng-if="value.length!=0">
        <div ng-if="key!='allplaces'">
            <h1 class="text-center mb-3">{{key}}</h1>
            <div id="myCarousel{{key}}" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner row w-100 mx-auto">
                    <div class="carousel-item col-md-4 active" ng-repeat="obj in value">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">{{obj.name}}</h4>
                                <p class="card-text">Average Rating : {{obj.rating}} </p>
                                <p class="card-text">
                                    <input type="checkbox"
                                           value="{{obj.place_id}}"
                                           ng-checked="selection.indexOf(obj.place_id) > -1"
                                           ng-click="toggleSelection(obj.place_id)">&nbsp;&nbsp;
                                    <small class="text-muted">Add to my trip</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel{{key}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel{{key}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <hr></hr>
</div>

<!-- End: Location Cards -->

<!-- Start: code for location information print out -->    
<!-- <div id="bigMap"></div>
  
<form name="resForm" class="form-horizontal" novalidate 
ng-submit="send()">
    <div class="form-group">
        <label for="resName" class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
            <input name="resName" type="text" class="form-control" 
            ng-model="place.name" required />
        </div>
    </div>
    <div class="form-group">
        <label for="resLat" class="col-xs-2 control-label">Latitude</label>
        <div class="col-xs-10">
            <input name="resLat" type="number" class="form-control" 
            ng-model="place.lat" required />
        </div>
    </div>
    <div class="form-group">
        <label for="resLng" class="col-xs-2 control-label">Longitude</label>
        <div class="col-xs-10">
            <input name="resLng" type="number" class="form-control" 
            ng-model="place.lng" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button class="btn btn-success" 
            ng-disabled="resForm.$invalid">Confirm</button>
        </div>
    </div>
</form> -->
<!-- End: code for location information print out -->    